<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
  <%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <input name=name>	  
    <input type=submit value='login'>	    
  <% end %>	  

</body>
</html>